{% extends 'baseSecurity.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('heykeep/css/register.css') }}" rel="stylesheet" type="text/css">{% endblock %}
{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <h1 class="blue_text mx-auto">Créez votre compte</h1>
                {{ form_start(registrationForm, {'attr': {'id': 'registration_form'}}) }}
                <div>
                    <h3 class="red_text">Informations</h3>
                    <section>
                        <div class="register100-pic js-tilt mx-auto mb-3 mt-3" data-tilt>
                            <img src="{{ asset('heykeep/img/heykeep_logo.png') }}" alt="logo mobile">
                        </div>
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.password) }}
                        <p>(*) Items obligatoires</p>
                    </section>
                    <h3 class="red_text">Profil</h3>
                    <section>
                        <div class="register100-pic js-tilt mx-auto mb-3 mt-3" data-tilt>
                            <img src="{{ asset('heykeep/img/heykeep_logo.png') }}" alt="logo mobile">
                        </div>
                        {{ form_row(registrationForm.name) }}
                        {{ form_row(registrationForm.avatar, {'attr': {'id': 'avatar'}}) }}
                        <p>(*) Items obligatoires</p>
                    </section>
                    <h3 class="red_text">Validation</h3>
                    <section  class="cgv">
                        <div class="register100-pic js-tilt mx-auto mb-3 mt-3" data-tilt>
                            <img src="{{ asset('heykeep/img/heykeep_logo.png') }}" alt="logo mobile">
                        </div>
                        <div>
                            <h4 class="blue_text">conditions générales d'utilisation</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Nibh nisl condimentum id venenatis a condimentum vitae sapien. Nunc scelerisque viverra mauris in aliquam sem fringilla. Donec massa sapien faucibus et molestie. Sed risus pretium quam vulputate dignissim suspendisse in. Aliquam sem et tortor consequat id porta nibh venenatis cras. Imperdiet dui accumsan sit amet nulla facilisi morbi. Imperdiet dui accumsan sit amet. Diam vulputate ut pharetra sit amet. Molestie ac feugiat sed lectus. Aliquet nec ullamcorper sit amet risus nullam.

                                Massa tempor nec feugiat nisl pretium. Sit amet tellus cras adipiscing enim eu turpis egestas pretium. Elementum tempus egestas sed sed risus pretium. Amet aliquam id diam maecenas ultricies mi. Turpis egestas integer eget aliquet nibh praesent tristique. Pellentesque dignissim enim sit amet. Vel facilisis volutpat est velit egestas dui. Velit ut tortor pretium viverra suspendisse potenti. Consequat ac felis donec et odio pellentesque diam volutpat. Orci sagittis eu volutpat odio facilisis mauris sit amet massa. Tempor commodo ullamcorper a lacus vestibulum sed arcu non odio. Mattis vulputate enim nulla aliquet porttitor lacus. Egestas erat imperdiet sed euismod nisi. Urna id volutpat lacus laoreet non. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Risus pretium quam vulputate dignissim suspendisse in est ante in. Consectetur lorem donec massa sapien faucibus et molestie ac. Molestie at elementum eu facilisis sed odio morbi quis commodo. Odio euismod lacinia at quis risus sed vulputate odio.

                                Nec dui nunc mattis enim ut tellus elementum sagittis. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. Vel quam elementum pulvinar etiam non quam lacus suspendisse. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer. Aliquam nulla facilisi cras fermentum odio eu. Ut venenatis tellus in metus. Duis convallis convallis tellus id interdum velit laoreet id. Vulputate ut pharetra sit amet aliquam. At tellus at urna condimentum. Mi proin sed libero enim sed. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin. Commodo sed egestas egestas fringilla. Vitae sapien pellentesque habitant morbi tristique senectus. Duis at consectetur lorem donec. Duis convallis convallis tellus id interdum velit laoreet id. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Suspendisse interdum consectetur libero id faucibus. Nec sagittis aliquam malesuada bibendum arcu. Dignissim suspendisse in est ante in nibh.

                                Pellentesque pulvinar pellentesque habitant morbi. Phasellus faucibus scelerisque eleifend donec pretium. Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Tincidunt arcu non sodales neque. Eget est lorem ipsum dolor. Porttitor leo a diam sollicitudin tempor id eu nisl. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Gravida in fermentum et sollicitudin ac orci phasellus egestas. Proin sagittis nisl rhoncus mattis rhoncus urna neque. Ultricies lacus sed turpis tincidunt id. Amet tellus cras adipiscing enim. Orci dapibus ultrices in iaculis nunc. Orci ac auctor augue mauris augue neque gravida. Gravida cum sociis natoque penatibus et.

                                Tempus egestas sed sed risus pretium quam vulputate dignissim. Nec ultrices dui sapien eget. Nisi lacus sed viverra tellus in hac habitasse platea. Tincidunt vitae semper quis lectus nulla at volutpat diam ut. In iaculis nunc sed augue lacus viverra vitae. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Purus in mollis nunc sed. Aenean euismod elementum nisi quis eleifend quam adipiscing. Purus semper eget duis at tellus at urna condimentum. Non curabitur gravida arcu ac tortor. Neque sodales ut etiam sit. Eleifend mi in nulla posuere. Mattis vulputate enim nulla aliquet porttitor. Sapien pellentesque habitant morbi tristique senectus. Viverra mauris in aliquam sem fringilla. Viverra nibh cras pulvinar mattis. Sodales neque sodales ut etiam sit amet. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque.</p>
                        </div>
                        {{ form_row(registrationForm.agreeTerms) }}
                    </section>
                    <h3 class="red_text">Récapitulatif</h3>
                    <section>
                        <div class="register100-pic js-tilt mx-auto mb-3 mt-3" data-tilt>
                            <img src="{{ asset('heykeep/img/heykeep_logo.png') }}" alt="logo mobile">
                        </div>
                        <h4 class="blue_text">merci de vérifier vos informations</h4>
                        <div>
                            <p>Votre E-mail est : <span id="recapitulatif-registration_form_email"></span></p>
                        </div>
                        <div>
                            <p>Votre Pseudo est : <span id="recapitulatif-registration_form_name"></span></p>
                        </div>
                        <div>
                            <p>Votre Avatar est :</p> <img id="previewavatar" alt="votre avatar" width="100" height="100" />
                        </div>
                    </section>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('heykeep/js/jquery.steps.js') }}"></script>
    <script src="{{ asset('heykeep/js/register.js') }}"></script>
{% endblock %}
