{% extends 'base.html.twig' %}

{% block title %}Bloc index{% endblock %}

{% block body %}
    <h1>Tous vos blocs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date de création</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Archivé</th>
                <th>Public</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bloc in blocs %}
            <tr>
                <td>{{ bloc.id }}</td>
                <td>{{ bloc.createdDate ? bloc.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bloc.title }}</td>
                <td>{{ bloc.description }}</td>
                <td>{{ bloc.isarchiv ? 'Oui' : 'Non' }}</td>
                <td>{{ bloc.ispublic ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('bloc_show', {'id': bloc.id}) }}">Voir</a> -
                    <a href="{{ path('bloc_edit', {'id': bloc.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun contenu</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bloc_new') }}">Ajouter un bloc</a>
{% endblock %}
