{{ form_start(form, {'attr': {'class': 'text-center', 'action': action, 'data-callback': "spaceFormCallback"}})}}
{{ form_row(form.name, {'attr': {'class': 'form-control mb-4' }}) }}
{{ form_row(form.description, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Description' }}) }}
<h3>Categories</h3>
<ul class="categories" data-prototype="{{ form_widget(form.categorie.vars.prototype)|e('html_attr')}}">
    {% for cat in form.categorie %}
        <li>{{ form_row(cat.name) }}</li>
    {% endfor %}
</ul>

{#{% block collection_widget %}#}
{#    {% apply spaceless %}#}
{#        {% if prototype is defined %}#}
{#            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}#}
{#            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}#}
{#        {% endif %}#}
{#        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}#}
{#        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}#}
{#        {% set attr = attr|merge({'data-name-prefix': full_name}) %}#}
{#        {{ block('form_widget') }}#}
{#    {% endapply %}#}
{#{% endblock collection_widget %}#}

{#<ul class="categories" data-prototype="{{ form_widget(form.categorie.vars.prototype)|e('html_attr') }}"></ul>#}
{#  {{ form_row(form.categorie, {'attr': {'class': 'form-control mb-4' }}) }}#}
{{ form_row(form.imagefile, {'attr': {'onchange':'readURL(this)','class': '', ' aria-describedby': '' }}) }}
<img  id="imagePreview" src="" />
{{ form_row(form.idMember, {'attr': {'class': '', ' aria-describedby': '' }}) }}




