{% extends 'base.html.twig' %}

{% block title %}Edit Space{% endblock %}

{% block body %}

    <div class="container my-5 py-5 z-depth-1">
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
            <h1>Editer l'espace</h1>
            {{ include('space/_delete_form.html.twig') }}
            {{ include('space/_form.html.twig') }}
            <button type="btn" class="btn btn-indigo btn-sm">{{ button_label|default('Mettre à jour') }}</button>
            {{ form_end(form) }}

        </section>
        <a href="{{ path('space_index') }}"><button type="btn" class="btn btn-blue-grey btn-sm">Liste des espaces</button></a>
    </div>

{% endblock %}
