{% extends 'base.html.twig' %}

{% block title %}Mes espaces{% endblock %}

{% block body %}

    <button id="back-to-list-space" type="button" class="btn btn-primary px-3" style="display: none;" onclick="displayFadeToggle('#master-detail');displayFadeToggle('#listmaster');displayFadeToggle('#back-to-list-space');"> <i class="fas fa-th-list" aria-hidden="true"></i> Liste des espaces</button>
    <button type="button" class="btn btn-primary px-3" onclick="callAjaxMasterDetail('{{ path('space_new')}}','#master-detail','#listmaster', '#back-to-list-space');"><i class="fas fa-plus" aria-hidden="true"></i> Nouvel Espace</button>
    <div class="container my-5 py-5 z-depth-1">

        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
            <!--Grid row-->
            <div id="listmaster" class="row justify-content-center">

                <h1>Liste des espaces</h1>
                <h2>En tant que participant</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date de création</th>
                        <th>Actif</th>
                        <th>Image</th>
                        <th>Membres</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for space in spaces %}
                        {% if app.user.name == space.idOwner %}
                            <tr>
                                <td>{{ space.idOwner }}</td>
                                <td>{{ space.name }}</td>
                                <td>{{ space.description }}</td>
                                <td>{{ space.createdDate ? space.createdDate|date('d-m-Y') : '' }}</td>
                                <td>{{ space.actif ? 'Oui' : 'Non' }}</td>
                                <td>
                                    {% if space.image == '' %}
                                        <img src="{{ asset('space/default.jpg') }}" class="rounded-circle z-depth-0" alt="espace image" style="max-height: 120px;max-width: 120px;">
                                    {% else %}
                                        <img src="{{ asset('space/'~ space.id~ '/' ~ space.image) }}" class="rounded-circle z-depth-0" alt="espace image" style="max-height: 120px;max-width: 120px;" >
                                    {% endif %}
                                </td>
                                <td>
                                    <p style="font-weight: bold">{{ space.idMember|length }} mbrs :</p>
                                    {% for member in space.idMember %}
                                        {{member.name}} <br>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('space_show', {'id': space.id}) }}">
                                        <button type="button" class="btn btn-primary px-3"><i class="far fa-eye" aria-hidden="true"></i> Afficher</button>
                                    </a>
                                </td>
                            </tr>

                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="7">Vous n'avez encore aucun espace.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h2>En tant que administrateur</h2>
                <p>{{ app.user.name }}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date de création</th>
                        <th>Actif</th>
                        <th>Image</th>
                        <th>Membres</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for space in spaces %}
                    {% if app.user.name == space.idOwner %}
                        <tr>
                            <td>{{ space.idOwner }}</td>
                            <td>{{ space.name }}</td>
                            <td>{{ space.description }}</td>
                            <td>{{ space.createdDate ? space.createdDate|date('d-m-Y') : '' }}</td>
                            <td>{{ space.actif ? 'Oui' : 'Non' }}</td>
                            <td>
                                {% if space.image == '' %}
                                    <img src="{{ asset('space/default.jpg') }}" class="rounded-circle z-depth-0" alt="espace image" style="max-height: 120px;max-width: 120px;">
                                {% else %}
                                    <img src="{{ asset('space/'~ space.id~ '/' ~ space.image) }}" class="rounded-circle z-depth-0" alt="espace image" style="max-height: 120px;max-width: 120px;" >
                                {% endif %}
                            </td>
                            <td>
                                <p style="font-weight: bold">{{ space.idMember|length }} mbrs :</p>
                                {% for member in space.idMember %}
                                    {{member.name}} <br>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('space_show', {'id': space.id}) }}">
                                    <button type="button" class="btn btn-primary px-3"><i class="far fa-eye" aria-hidden="true"></i> Afficher</button>
                                </a>
                                <button type="button" class="btn btn-primary px-3" onclick="callAjaxMasterDetail('{{ path('space_edit', {'id': space.id}) }}','#editcurrent','#listmaster'); displayFadeIn('#editcurrent','#createnew','#listmaster')"><i class="fas fa-plus" aria-hidden="true"></i> Editer</button>
                            </td>
                        </tr>

                    {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="7">Vous n'avez encore aucun espace.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h2>Tous les espaces</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date de création</th>
                        <th>Actif</th>
                        <th>Image</th>
                        <th>Membres</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for space in spaces %}
                        <tr>
                            <td>{{ space.id }}</td>
                            <td>{{ space.name }}</td>
                            <td>{{ space.description }}</td>
                            <td>{{ space.createdDate ? space.createdDate|date('d-m-Y') : '' }}</td>
                            <td>{{ space.actif ? 'Oui' : 'Non' }}</td>
                            <td>
                                {% if space.image == '' %}
                                    <img src="{{ asset('space/default.jpg') }}" class="rounded-circle z-depth-0" alt="espace image" style="max-height: 120px;max-width: 120px;">
                                {% else %}
                                    <img src="{{ asset('space/'~ space.id~ '/' ~ space.image) }}" class="rounded-circle z-depth-0" alt="espace image" style="max-height: 120px;max-width: 120px;" >
                                {% endif %}
                            </td>
                            <td>
                                <p style="font-weight: bold">{{ space.idMember|length }} mbrs :</p>
                                {% for member in space.idMember %}
                                    {{member.name}} <br>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('space_show', {'id': space.id}) }}">
                                    <button type="button" class="btn btn-primary px-3"><i class="far fa-eye" aria-hidden="true"></i> Afficher</button>
                                </a>
                                <button type="button" class="btn btn-primary px-3" onclick="callAjaxMasterDetail('{{ path('space_edit', {'id': space.id}) }}','#master-detail','#listmaster', '#back-to-list-space');"><i class="fas fa-plus" aria-hidden="true"></i> Editer</button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Vous n'avez encore aucun espace.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="master-detail"></div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('heykeep/js/space.js') }}"></script>{% endblock %}



