{% extends 'base.html.twig' %}

{% block title %}Space{% endblock %}

{% block body %}
    <h1>Space</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ space.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ space.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ space.description }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ space.createdDate ? space.createdDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ space.actif ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ space.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('space_index') }}"><button type="btn" class="btn btn-light btn-sm">Liste des espaces</button></a>

{% endblock %}
