<table class="table">
    <thead>
    <tr>
        <th>Admin</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Date de création</th>
        <th>Actif</th>
        <th>Image</th>
        <th>Membres</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for space in foo %}
        <tr>
            <td>{{ space.idOwner }}</td>
            <td>{{ space.name }}</td>
            <td>{{ space.description }}</td>
            <td>{{ space.createdDate ? space.createdDate|date('d-m-Y') : '' }}</td>
            <td>{{ space.actif ? 'Oui' : 'Non' }}</td>
            <td>
                {% if space.image == '' %}
                    <img src="{{ asset('space/default.jpg') }}" class="rounded-circle z-depth-0" alt="espace image"
                         style="max-height: 120px;max-width: 120px;">
                {% else %}
                    <img src="{{ asset('space/'~ space.id~ '/' ~ space.image) }}" class="rounded-circle z-depth-0"
                         alt="espace image" style="max-height: 120px;max-width: 120px;">
                {% endif %}
            </td>
            <td>
                <p style="font-weight: bold">{{ space.idMember|length }} mbrs :</p>
                {% for member in space.idMember %}
                    {{ member.name }} <br>
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('space_show', {'id': space.id}) }}">
                    <button type="button" class="btn btn-primary px-3"><i class="far fa-eye" aria-hidden="true"></i>
                        Afficher
                    </button>
                </a>
                {% if app.user.name == space.idOwner %}
                    <button type="button" class="btn btn-primary px-3"
                            onclick="callAjaxMasterDetail('{{ path('space_edit', {'id': space.id}) }}','#editcurrent','#listmaster'); displayFadeIn('#editcurrent','#createnew','#listmaster')">
                        <i class="fas fa-plus" aria-hidden="true"></i> Editer
                    </button>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">Vous n'avez encore aucun espace.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>