
    <div class="col-lg-5 col-sm-6 mb-2 card p-4 mx-2 card-dash">
        <div class="row d-flex align-items-center">
            <div class="col-12 w-100 d-flex justify-content-center align-items-center card-img-top">
                {% if space.image == '' %}
                    <img src="{{ asset('space/default.jpg') }}" class="img-fluid z-depth-0 card-dash" alt="espace image">
                {% else %}
                    <img src="{{ asset('space/'~ space.id~ '/' ~ space.image) }}" class="img-fluid z-depth-0 card-dash" alt="espace image">
                {% endif %}
            </div>
            <div class="col-12">
                <h4 class="font-weight-bold red_text pt-2">{{ space.name }}</h4>
                <p class="blue_text">
                    {{ space.description }}<br>
                    Crée le : {{ space.createdDate ? space.createdDate|date('d-m-Y') : '' }}<br>
                    {{ space.idMember|length }} Membre(s) :
                    {% for member in space.idMember %}
                        {{member.name}} -
                    {% endfor %}
                </p>
                <a href="{{ path('space_show', {'id': space.id}) }}" class="btn bg-red rounded-pill font-weight-bold white-text">Visiter</a>
            </div>
        </div>
    </div>

