<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- Font Awesome -->
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<!-- Google Fonts Quicksand -->
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap">
		<!-- Bootstrap core CSS -->
		<link
		rel="stylesheet" href="{{ asset('theme/css/bootstrap.min.css') }}">
		<!-- Material Design Bootstrap -->
		<link
		rel="stylesheet" href="{{ asset('theme/css/mdb.min.css') }}">
		<!-- Your custom styles (optional) -->
		<link rel="stylesheet" href="{{ asset('theme/css/style.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% block body %}{% endblock %}
			<script src="{{ asset('theme/js/jquery.js') }}"></script>
			<script src="{{ asset('theme/js/popper.js') }}"></script>
			<script src="{{ asset('theme/js/bootstrap.js') }}"></script>
			<script src="{{ asset('theme/js/mdb.js') }}"></script>
			<script src="{{ asset('plugins/validator/jquery.validate.js') }}"></script>
			<script src="{{ asset('plugins/validator/localization/messages_fr.js') }}"></script>

			{% block javascripts %}{% endblock %}
		</body>
	</html>
