{% extends 'base.html.twig' %}
{% block stylesheets %} <link href="{{ asset('heykeep/css/heykeep.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('heykeep/css/login.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('heykeep/css/dashboard.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    {% if app.user %}
        <div class="container-fluid mb-150">
            <div class="row">
                <div class="col-lg-3 mt-5 mx-3">
                <h1 class="blue_text">tableau de bord</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="mb-3 welcome mx-3">
                        Bienvenue : {{ app.user.username }}
                    </div>
                    <div><h2 class="red_text mx-3">Sur ton tableau de bord</h2></div>
                    <div class="dashboard-pic js-tilt mt-5 mx-3" data-tilt>
                        <img src="{{ asset('heykeep/img/illustration.png') }}" alt="illustration">
                    </div>
                </div>
                <div class="col-lg-3 bg-beige p-3 m-2 card-dash">
                    <div>
                        <h3 class="blue_text mx-3 my-3">fil d'actualités</h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 bg-beige p-3 m-2 card-dash">
                        <h3 class="blue_text mx-3 my-3">mes espaces</h3>

                    <div class="container">

                        <!-- Card -->
                        {% for space in spaces %}
                        <div class="card mb-5 z-depth-0">


                            <!-- Card image -->
                            <div class="view overlay">

                                {% if space.image == '' %}
                                    <img src="{{ asset('space/default.jpg') }}" class="card-img-top" alt="espace image">
                                {% else %}
                                    <img src="{{ asset('space/'~ space.id~ '/' ~ space.image) }}" class="card-img-top" alt="espace image">
                                {% endif %}
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body">

                                <!-- Title -->
                                <h4 class="card-title font-weight-bold red_text">{{ space.name }}</h4>
                                <!-- Text -->
                                <p>{{ space.description }}</p>
                                <p>Crée le : {{ space.createdDate ? space.createdDate|date('d-m-Y') : '' }}</p>
                                <div class="row">
                                    <div class="col-6">
                                        <p style="font-weight: bold">{{ space.idMember|length }} Membres</p>
                                    </div>
                                    <div class="col-6">
                                        {% for member in space.idMember %}
                                            {{member.name}} <br>
                                        {% endfor %}
                                    </div>
                                </div>


                                <!-- Button -->
                                <a href="{{ path('space_show', {'id': space.id}) }}" class="btn bg-red rounded-pill font-weight-bold white-text">Visiter</a>

                            </div>

                        </div>
                        {% endfor %}
                        <!-- Card -->

                        </div>
                </div>
                <div class="col-lg-2 bg-beige p-3 m-2 card-dash">
                    <div>
                        <h3 class="blue_text mx-3 my-3">mes favoris</h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                           aria-selected="true">Catégories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                           aria-selected="false">Posts</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Raw denim you
                                        probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
                                        cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                                        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                                        placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                                        qui.</div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
                                        locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
                                        blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                                        Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
                                        PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
                                        salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                                        sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                                        stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
                                        wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
                                        lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
                                        locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
                                        squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
                                        etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
                                        stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('heykeep/js/tilt.jquery.min.js') }}"></script>
    <script src="{{ asset('heykeep/js/main.js') }}"></script>
{% endblock %}
