{% extends 'base.html.twig' %}
{% block stylesheets %} <link href="{{ asset('heykeep/css/heykeep.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('heykeep/css/login.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('heykeep/css/dashboard.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    {% if app.user %}
        <div class="container-fluid mb-150">
            <div class="row">
                <div class="col-lg-3 mt-5 mx-3">
                <h1 class="blue_text">tableau de bord</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="mb-3 welcome mx-3">
                        Bienvenue : {{ app.user.username }}
                    </div>
                    <div><h2 class="red_text mx-3">Sur ton tableau de bord</h2></div>
                    <div class="dashboard-pic js-tilt mt-5 mx-3" data-tilt>
                        <img src="{{ asset('heykeep/img/illustration.png') }}" alt="illustration">
                    </div>
                </div>
                <div class="col-lg-3 bg-beige p-3 m-2 card-dash">
                    <div>
                        <h2 class="blue_text mx-3 my-3">fil d'actualités</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                {# 5 Dernières activités dans les espaces (en fonction de l'utilisateur connecté)
                                {{ dump(lastsSpaceActivities) }}
                                5 Dernières activités dans les discussions (en fonction de l'utilisateur connecté)
                                {{ dump(lastsChatActivities) }} #}
                                Voir
                                <ul>
                                    <li>1 src/Controller/DashboardController.php</li>
                                    <li>2 src/Repository/SpaceRepository.php</li>
                                    <li>3 src/Repository/MessageRepository.php (la requête commentée en MySQL fait la même chose que la requête façon doctrine, les 2 sont utilisables.
                                        Il y a sans doute plus simple mais avec la version plus récente de MySQL ^^ (là 5.7.29))
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/></li>
                                </ul>
                            </div>
                            <!-- Grid column -->
                            <div class="col-lg-5 col-xl-4">

                                <!-- Featured image -->
                                <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Sample image">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-lg-7 col-xl-8">

                                <!-- Post title -->
                                <h5 class="font-weight-bold mb-0"><strong>Titre</strong></h5>
                                <!-- Excerpt -->
                                <p class="blue_text mb-0">Lorem Ipsum is my passion, il love it "dolor sit amet"</p>
                                <!-- Post data -->
                                <p>par <a class="font-weight-bold">Jean Phill</a>, 19/04/2018</p>
                                <!-- Read more button -->
                                <a class="btn bg-blue btn-md mx-0 rounded-pill">Voir</a>

                            </div>
                            <!-- Grid column -->

                            <h3 class="red_text ml-3 mb-3">activité des discussions</h3>
                            {% for lastChatActivity in lastsChatActivities %}
                                {% include 'space/chat_short_display.twig' with {"chat" : lastChatActivity} %}
                            {% endfor %}
                            <h3 class="red_text ml-3 mb-3">Activités dans les espaces</h3>
                                {% for lastSpaceActivity in lastsSpaceActivities %}
                                    {% include 'space/space_short_display.twig' with {"space" : lastSpaceActivity} %}
                                {% endfor %}
                        </div>
                        <!-- Grid row -->
                    </div>
                </div>
                <div class="col-lg-4 bg-beige p-3 m-2 card-dash">
                    <h2 class="blue_text mx-3 my-3">mes espaces</h2>
                    <div class="container">
                        <h3 class="red_text ml-3 mb-3">liste de vos espaces</h3>
                        <div class="row">
                        {% for spaceOwned in spacesOwned %}
                            {% include 'space/space_short_display.twig' with {"space" : spaceOwned} %}
                        {% endfor %}
                        {% for spaceMember in spacesMember %}
                            {% include 'space/space_short_display.twig' with {"space" : spaceMember} %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 bg-beige p-3 m-2 card-dash">
                    <div>
                        <h2 class="blue_text mx-3 my-3">mes favoris</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                           aria-selected="true">Catégories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                           aria-selected="false">Posts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                           aria-selected="false">Discussions</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Raw denim you
                                        probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
                                        cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                                        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                                        placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                                        qui.</div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
                                        locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
                                        blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                                        Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
                                        PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
                                        salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                                        sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                                        stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
                                        wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
                                        lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
                                        locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
                                        squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
                                        etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
                                        stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('heykeep/js/tilt.jquery.min.js') }}"></script>
    <script src="{{ asset('heykeep/js/main.js') }}"></script>
{% endblock %}
